@media screen and (max-width: 1024px)
{
    .side
    {
        display: none;
    }
    .top
    {
        display: block;

        margin: 0;
    }

    li
    {
        display: flex;

        width: 100%;

        background-color: rgba(235,	193, 158, .7);

        justify-content: center;
    }

    nav
    {
        width: 100%;

        text-align: center;
    }

    ul,
    li
    {
        margin: 0;
        padding: 0;
    }
    .top ul a
    {
        font-size: 80px;

        opacity: 1.0;
        color: white;
    }

    .logo
    {
        font-size: 160px;

        display: flex;

        margin: 0;
        padding: 0;

        justify-content: center;
    }

    button
    {
        font-size: 40px;

        padding: 34px 160px;

        cursor: pointer;
        text-align: center;
        text-transform: uppercase;

        color: #b0967d;
        border: 4px grey solid;
        border-radius: 80px;
        background: linear-gradient(to bottom, grey, black);
        box-shadow: 0 50px 140px 0 rgba(0,0,0);
    }

    .btn
    {
        margin-left: -315px;
    }
}
