body
{
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;

    color: #222;
}

.clearfix:after
{
    display: table;
    clear: both;

    width: 100%;

    content: '';
}

div
{
    box-sizing: border-box;
}
header
{
    padding-bottom: 160px;

    background: url(../img/first-bg.jpg) no-repeat center top / cover;
}

.container
{
    width: 930px;
    margin: 0 auto;
}

.logo
{
    float: left;

    margin-top: 41px;
}

nav
{
    float: right;

    margin-top: 45px;
}

.menu
{
    display: block;

    margin: 0;
    padding: 0;
}

.menu li
{
    display: block;
    float: left;

    margin-right: 41px;
}

.menu li a
{
    font-size: 14px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

.titles_first
{
    font-size: 40px;

    margin-top: 180px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

h1
{
    font-size: 75px;

    margin: 15px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.button
{
    font-size: 18px;
    font-weight: bold;

    display: block;

    width: 240px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 0;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #484543;
    border-radius: 3px;
    background: #fed136;
}

.title
{
    padding-top: 115px;
}

.title h2
{
    font-size: 40px;
    font-weight: bold;

    margin: 0;

    text-align: center;
    text-transform: uppercase;
}

.title p
{
    font-size: 16px;

    margin-top: 5px;

    text-align: center;

    color: #777;
}

.services
{
    margin-top: 50px;
    padding-bottom: 160px;
}

.services_item
{
    float: left;

    width: 270px;

    text-align: center;
}

.services_item h3
{
    font-size: 18px;

    margin-bottom: 5px;
}

.services_item p
{
    font-size: 14px;
    line-height: 1.55em;

    color: #777;
}

.services_item:last-child
{
    float: right;
}

.services_item:first-child
{
    float: left;
}

.services_item:nth-child(2)
{
    margin-left: 60px;
}

#portfolio
{
    padding-bottom: 135px;

    background: #f7f7f7;
}

.works
{
    margin-top: 70px;
}

.works img
{
    float: left;
}

.works img:last-child
{
    float: right;
}

.works img:nth-child(2)
{
    margin-left: 30px;
}

.about
{
    padding-top: 70px;
}

h4
{
    font-size: 18px;
    font-weight: bold;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
}
.about h3
{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

.about_item_lft img
{
    float: right;

    margin-right: 380px;
    margin-left: 30px;
}

.about_item_rgt img
{
    float: left;

    margin-right: 30px;
    margin-left: 368px;
}

.about_item_lft h4,
.about_item_lft h3,
.about_item_lft p
{
    display: block;

    text-align: right;
}

.about_item_rgt h4,
.about_item_rgt h3,
.about_item_rgt p
{
    text-align: left;
}
.about_item_rgt p
{
    display: inline-block;
}


.about p
{
    font-size: 14px;
    line-height: 1.5rem;

    margin-top: 5px;

    color: #777;
}


.about div:nth-child(1)
{
    padding-bottom: 80px;
}
.about div:nth-child(2)
{
    padding-bottom: 70px;
}
.about div:nth-child(3)
{
    padding-bottom: 110px;
}
.about div:nth-child(4)
{
    padding-bottom: 110px;
}

footer p
{
    font-size: 14px;

    text-align: center;

    color: #8e8e8e;
}

footer
{
    padding-bottom: 115px;
}
