body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

a{
	text-decoration: none;
}
.box {
	margin: 0 240px;
	width: auto;

}
header {
	padding: 70px 0;
	width: auto;
	background: url(img/banner.jpg) no-repeat center top / cover;
	height: auto;
	color: white;
}
h1 {
	text-transform: uppercase;
	font-size: 57px;
	margin: 0;
	font-weight: bold;
}
.title {
	text-align: left;
}

.header {
	width: 400px;
	font-size: 30px;
	font-style: italic;
	margin: 10px 0;
}
nav{
	background: #EBEBEB;
	font-size: 0;
}
ul {
	margin: 0;
	padding: 20px 0;
}
li{
	padding: 0;
	text-decoration: none;
	display: inline-block;
}
nav a{
	color: #393939;
	font-weight: bold;
	font-size: 17px;

}
nav li::after {
	font-size: 17px;
	content: "/";
	display: inline-block;
	margin: 0 20px;
}
nav li:last-child:after {
	 content: ""; 
}

.main {
	margin: 40px 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
article {
	width: 700px;
	display: inline-block;
	margin: 0;
}

aside {
	background: #EEDDE6;
	text-align: center;
	margin-left: 50px;
	width: 320px;
	display: inline-block;
	margin-top: 0;
	border: 5px dashed #D2A6BC;
	padding: 20px;
}

aside h2 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.cat-week {
	margin: 15px 0;
}

h3 {
	font-size: 19px;
}

.jeremy {
	font-size: 22px;
	line-height: 1.6;
}

p{
	font-size: 14px;
	line-height: 2;
}

span, h3, .jeremy, aside a{
	color: #319CB9;
}

h2{
	text-transform: uppercase;
	font-size: 20px;
}

figure{	
	margin: 0;
	padding: 0;
}

aside figcaption {
	margin: 15px 0;
}

footer {
	margin-top: 70px;
	background: url(img/footer.jpg) no-repeat center top / cover;
	text-align: center;
	padding: 30px 0 20px;
	color: white;
}

.footer {
	font-size: 0;
}
footer img {
	height: 50px;
	margin-bottom: 20px;
}

footer a {
	color: white;
	font-weight: bold;
	font-size: 14px;
}

footer li::after {
	font-size: 14px;
	content: "/";
	display: inline-block;
	margin: 0 5px;
}
footer li:last-child:after {
	 content: ""; 
}
