@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,700&display=swap');
body{
    font-family: 'Encode Sans Condensed', sans-serif;
    background: url(../img/bg-main1.jpg) no-repeat center top/ cover;

    margin: 0;
    padding: 0;
}

header
{
    width: 100%;
    height: 85vh;
    color: #ffffff;
    background: #222;

    
}
.head-bar
{
    display: flex;

    padding: 50px 40px;

    justify-content: space-between;
}

nav
{
    display: flex;

    justify-content: flex-end;
}

.logo a
{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;

    text-decoration: none;

    color: #ffffff;
}
nav a
{
    font-size: 1.6em;
    font-weight: bold;
    font-style: italic;

    margin-left: 40px;

    text-decoration: none;

    color: #ffffff;
}

.head-bar a:hover
{
    transition: ease;
    transition-duration: .2s;

    color: #2c82c9 ;
}

.title
{
    position: absolute;
    top: 33%;
    right: 4%;

    width: 50%;

    text-align: center;
}

.title h1
{
    font-family: 'Josefin Sans' ;
    font-size: 7em;

    margin: 0;
}
.title p
{
    font-size: 2.2em;

    padding: 10px;
}
.see-more
{
    font-size: 2.2em;
    font-weight: bold;

    padding: 2% 20%;

    text-decoration: none;

    color: #2c82c9 ;
    border: 3px solid #2c82c9 ;
    border-radius: 10px;
    background: rgba(228, 233, 237, .9);
}
section
{
    margin: 0;
    padding-bottom: 5%;

    text-align: center;
   
}
.about-me{

  height: auto;
  margin: 0;
  background: #222;
  color: #ffffff;
}
.about-me-main
{
    display: flex;

    height: auto;
    z-index: 2;
    justify-content: space-around;
}
h2
{
    font-size: 2.5em;

    margin: 0;
    padding: 20px;
}
.border-box{
  width: 50%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}
.article
{
     background: #222;
  color: #ffffff;
  padding: 2rem;
  font-size: 100%;
}
.article p{
  margin: 0;
}
section.my-projects
{
     background: url(../img/bg-main1.jpg) no-repeat center top/ cover;
     border-top: 10px  solid #222;

}

.collage,
.collage-2
{
    display: flex;

    margin-top: 1%;
    padding: 0 20%;

    justify-content: center;
}

.collage-2{
  display: none;
}


/*****COPYPASTE********/

.bg-one
{
    width: 22em;
    height: 21.5em;

    background: url(../img/kitties.png) no-repeat center top/cover;
}
.bg-two
{
    width: 22em;
    height: 15em;

    background-image: url(../img/lian.png);
}
.bg-three
{
    width: 22em;
    height: 15em;

    background-image: url(../img/golden.png);
}
.bg-four
{
    width: 22em;
    height: 21.5em;

    background-image: url(../img/dog.jpg);
}
.bg-five
{
    width: 22em;
    height: 21.5em;

    background-image: url(../img/dw.png);
}
.bg-six
{
    width: 22em;
    height: 15em;

    background-image: url(../img/blow.png);
}

.collage a,
.collage-2 a
{
    font-family: sans-serif;
    font-size: 35px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    height: 50px;
    margin: auto;

    cursor: pointer;
    text-align: center;

    color: #fff;

}

.parent
{
    overflow: hidden;

    margin: .3em;

    cursor: pointer;
}

.child
{
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    background-repeat: no-repeat;
    background-size: cover;
}


.parent:hover .child,
.parent:focus .child
{
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before
{
    display: block;
}

.parent:hover a,
.parent:focus a
{
    display: block;
}

.child:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    content: '';
    z-index: -1;

    background-color: rgba(52,73,94,.75);
}


/* Registration style */
.registration-page
{
  
  margin: 0;
  display: grid;
  place-items: center;
  color: #ffffff;
    }
.registration-page form input,
.registration-page form textarea
{
    display: block;

    margin: 8px auto;
}

form {  
  padding: 1rem;
  width: 40%;
  color: #ffffff;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #2c82c9, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.registration-page form label
{
    font-size: 1.2em;
    font-weight: bold;

    color: #ffffff ;
}

.registration-page form input,
.registration-page form textarea
{
    font-size: .8em;

    width: 90%;
    padding: 2%;

    border: 2px rgba(255, 255, 255, .6) solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
}

.registration-page form input:focus
{
    outline: none;
    background-color: rgba(255, 255, 255, .7);
}


#button
{
    font-size: 20px;
    font-weight: bold;

    padding: 10px 50px;

    color: #ffffff ;
    border-radius: 20px;
}

#button:hover
{
    cursor: pointer;
    transition: .4s ease;

    background: rgba(255, 255, 255, .7);
}

/* Copy - Paste, Have no idea what is going on below, just changed the size and color, somehow lol */

.toggle{
  --uiToggleSize: var(--toggleSize, 20px);
  --uiToggleIndent: var(--toggleIndent, .4em);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #000);
  --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
  --uiToggleBgColor: var(--toggleBgColor, #fff);
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  --uiToggleArrowColor: var(--toggleArrowColor, #fff);

  display: inline-block;
  position: relative;
}

.page__toggle {
  margin: 15px 0;
}
.toggle__input{
  position: absolute;
  left: -99999px;
}

.toggle__label{
  display: inline-flex;
  cursor: pointer;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
}

.toggle__label:before, .toggle__label:after{
  content: "";
  box-sizing: border-box;  
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize);

  position: absolute;
  left: 0;
  top: 0;
}

.toggle__label:before{
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  z-index: 2;
}

.toggle__input:disabled ~ .toggle__label:before{
  border-color: var(--uiToggleDisabledColor);
}

.toggle__input:focus ~ .toggle__label:before{
  box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled):checked:focus ~ .toggle__label:after{
  box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled) ~ .toggle__label:after{
  background-color: var(--uiToggleColor);
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label:after{
  opacity: 1;
}

.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
  color: #ffffff;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
*/

.toggle__text:before{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize);

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--uiToggleArrowColor);

  position: absolute;
  top: .5428em;
  left: .2em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
  width: .5em;
  height: .25em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
  will-change: width, height;
  transition: width .1s ease-out .2s, height .2s ease-out;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

/* 
The demo skin
*/

.toggle__label:before, .toggle__label:after{
  border-radius: 2px;
}

/* 
The animation of switching states
*/

.toggle__input:not(:disabled) ~ .toggle__label:before,
.toggle__input:not(:disabled) ~ .toggle__label:after{
  opacity: 1;
  transform-origin: center center;
  will-change: transform;
  transition: transform .2s ease-out;
}

.toggle__input:not(:disabled) ~ .toggle__label:before{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__input:not(:disabled) ~ .toggle__label:after{
  transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label:before{
  transform: rotateY(-90deg);
  transition-delay: 0s;
}

.toggle__input:not(:disabled):checked ~ .toggle__label:after{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__text:before{
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
  opacity: 1;
  transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.toggle{
  --toggleColor: rgba(0, 0, 0, 0.2);
  --toggleBgColor: rgba(0, 0, 0, 0.7);
  --toggleSize: 20px;
}

/* Copy - Paste */

footer
{
    text-align: center;

     background:         linear-gradient(#4D7BB9, #000);
}
footer .logo
{
    margin: 0 0 40px;
}


footer .head-bar
{
    flex-direction: column;

    justify-content: center;
}
footer nav
{
    justify-content: center;
    font-size: 0.8em;
}
footer .head-bar a
{
    text-align: center;

    color: #fff;
}
footer a:first-child
{
    margin: 0;
}

@media (max-width: 1150px)
{
  .collage{
    display: none;
  }
  .collage-2 {
    display: block;
  }
  .child{
     width: 100%;
    height: 10em;
    margin: 0.2em auto;
  }

  .collage-2 a{
    position: static;
    display: inline-block;
    padding: 1.5em 0;
    color:#ffffff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
        width: 100%;
    height: 34%;
  }
}
/*@media(max-width: 1024px){

}*/
@media (max-width: 800px){
  .about-me-main{
  padding: 2% 0;
  }
  .registration-page form {
  width: 90%;
  padding: 1em 0em;
  margin: auto;
}
.border-box{
width: 80%;
}
.registration-page {
  padding-bottom: 15%;
}

}
@media (max-width: 550px){
    .hide-p,
    .about-me h2{
    display: none;
  }
  footer nav{
    display: flex;
    flex-direction: column;
  }
  footer nav a,
  footer nav a:first-child{
    margin: 0.5em 0;
  }
}
/*@media (max-height: : 870px){
  .registration-page{
    height: 80vh;
  }
}*/